<!-- ========== Footer ========== -->

<footer class="footer-widgets">
    <div class="container">
        <div class="row section">
            <!-- About Us -->
            <div class="col-md-4 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                    <h5 class="header-widget">About Us</h5>
                    <p>
                        @(DAOLayer.SiteMetaDAO.getMeta("about_small").MetaText ?? "")
                    </p>
                    <ul class="social-links">
                        <li><a href="//fb.com/MYVenturespk"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="//twitter.com/MYVenturespk"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="//www.youtube.com/channel/UCNg8bIlSTYwaykVjcI9i0Ug"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->
            <!-- Instagram Feed -->
            <div class="col-md-4 hide col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                    <h5 class="header-widget">Instagram Feed</h5>
                    <ul>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                        <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>
                    </ul>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->
            <!-- Twitter Feed -->
            <style>
                ul.useful-links > li > a {
                    color: #fff;
                }
                ul.useful-links > li{
                    margin: 0 !important;
                }
            </style>
            <div class="col-md-4 col-sm-6 mb-sm-100">
                <div class="widget twitter-widget">
                    <h5 class="header-widget">Useful Links</h5>
                    <ul class="useful-links" style="text-transform: uppercase">
                        <li>
                            <a href="@Url.Action("Index","About")">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Contact")">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "FAQ")">
                                F.A.Q.
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Blogs")">
                                Our Blog
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Team","About")">
                                Team
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Services")">
                                Services
                            </a>
                        </li>
                    </ul>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->
            <!-- Newsletter -->
            <div class="col-md-4 col-sm-6">
                <div class="widget newsletter-widget">
                    <h5 class="header-widget">Newsletter</h5>

                    <form action="/Home/Subscribe" class="mc-form subscribe-form form-ajax" _lpchecked="1">
                        <div class="form-group">
                            <!-- Email -->
                            <input type="email" name="model.email" placeholder="Join our newsletter">

                            <!-- Send Button -->
                            <button type="submit" name="subscribe" class="mc-send-btn"><i class="far fa-paper-plane "></i></button>
                        </div>
                        <!-- Ajax message -->
                        <div class="subscribe-result ajax-message"></div>
                    </form>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->
        </div><!-- / .row -->
    </div><!-- / .container -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <small>&copy; 2017 <b>MY Ventures</b></small>
                </div>
                <div class="col-sm-6">
                    <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>
            </div><!-- / .row -->
        </div><!-- / .container -->
    </div><!-- / .copyright -->
</footer><!-- / .footer-widgets -->
