<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | MY Ventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    @Styles.Render("~/Content/css")
</head>
<body id="page-top" class="@ViewBag.MainClass">
    <!--[if lt IE 8]>
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->
    <!-- ========== Preloader ========== -->
    <div class="preloader">
        <img src="/Content/assets/images/loader.svg" alt="Loading...">
    </div>
    @Html.Partial("_Navbar")
    @RenderBody()
    @Html.Partial("_Footer")
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB50rvSH-KSG8eiELjmwTFBgFrb19XnD9Q"></script>

    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>
