@{
    ViewBag.Title = "ExclusvieOffers";
}

<h2>Exclusvie Offers</h2>
<div class="col-md-12">
    <form method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-content">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Box 1</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group is-empty">
                            <input type="text" name="list[0].head" value="@ViewBag.head1.MetaText" placeholder="Best For" class="form-control">
                        </div>
                        <div class="form-group  is-empty">
                            <label class="control-label"> Content </label>
                            <textarea class="form-control" name="list[0].text" rows="5">
                                @ViewBag.text1.MetaText
                            </textarea>
                        </div>
                        <div class="form-group is-empty">
                            <input type="text" name="list[0].link" value="@ViewBag.link1.MetaText" placeholder="Learn More Link" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src='/uploads/@(ViewBag.img1.MetaText == "" ? "image_placeholder.jpg" : ViewBag.img1.MetaText)' alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="list[0].img" />
                                </span>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Box 2</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group is-empty">
                            <input type="text" name="list[1].head" value="@ViewBag.head2.MetaText" placeholder="Best For" class="form-control">
                        </div>
                        <div class="form-group  is-empty">
                            <label class="control-label"> Content </label>
                            <textarea class="form-control" name="list[1].text" rows="5">
                                @ViewBag.text2.MetaText
                            </textarea>
                        </div>
                        <div class="form-group is-empty">
                            <input type="text" name="list[1].link" value="@ViewBag.link2.MetaText" placeholder="Learn More Link" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src='/uploads/@(ViewBag.img2.MetaText == "" ? "image_placeholder.jpg" : ViewBag.img2.MetaText)' alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="list[1].img" />
                                </span>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Box 3</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group is-empty">
                            <input type="text" name="list[2].head" value="@ViewBag.head3.MetaText" placeholder="Best For" class="form-control">
                        </div>
                        <div class="form-group  is-empty">
                            <label class="control-label"> Content </label>
                            <textarea class="form-control" name="list[2].text" rows="5">
                                @ViewBag.text3.MetaText
                            </textarea>
                        </div>
                        <div class="form-group is-empty">
                            <input type="text" name="list[2].link" value="@ViewBag.link3.MetaText" placeholder="Learn More Link" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src='/uploads/@(ViewBag.img3.MetaText == "" ? "image_placeholder.jpg" : ViewBag.img3.MetaText)' alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="list[2].img" />
                                </span>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-info">Update</button>
        </div>
    </form>
</div>
