@{
    ViewBag.Title = "Detail";
    ViewBag.UploadLocation = CustomActions.GetUploadLocation();
}
@using MYVentures.Helpers
@model CustomModels.PropertyModels.PropertyDetailView

<style>
    .portfolio-columns-fw .portfolio-item,
    .portfolio-columns-fw figure > img {
        height: 29vw !important;
    }
    .prod_single_img_slider ul.slick-dots {
        display: none !important;
    }
</style>
<!-- ========== Page Title ========== -->
<header class="page-title pt-large pt-dark pt-plax-lg-dark"
        data-stellar-background-ratio="0.4" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>House</h1>
                <span class="subheading">@Model.Title</span>
            </div>
        </div>
    </div>
</header>


<!-- ========== Cart Items - (checkout table) ========== -->
<div class="container section">
<div class="row ws-m">
<div class="col-md-12">
    <!-- Prodcut Images -->
    @if(!Request.Browser.IsMobileDevice)
    {

    <div class="col-md-1">
        <ul class="prod_single_thumbs_slider">
            @for (var indexI = 0; indexI < Model.Images.Count && indexI < 4; indexI++)
            {
                <li>
                    <img src="@(ViewBag.UploadLocation + "/thumbs/" + Model.Images[indexI].Key.Substring(0, Model.Images[indexI].Key.LastIndexOf('.')) + "80x80.jpg")" alt="Product Image">
                </li>
            }
        </ul>
    </div>

    <div class="col-md-7">
        <ul class="prod_single_img_slider" style="max-width: 100%;">
            @for (var indexI = 0; indexI < Model.Images.Count && indexI < 4; indexI++)
            {
                <li>
                    <img class="img-responsive" style="width: 100%;" src="@ViewBag.UploadLocation@Model.Images[indexI].Key" alt="Product Image">
                </li>
            }
        </ul>
    </div><!-- / .col-md-6 -->
    }else
    {

    <div class="col-md-1">
        <ul class="prod_single_thumbs_slider">
            @for (var indexI = 0; indexI < Model.Images.Count; indexI++)
            {
                <li>
                    <img src="@(ViewBag.UploadLocation + "/thumbs/" + Model.Images[indexI].Key.Substring(0, Model.Images[indexI].Key.LastIndexOf('.')) + "80x80.jpg")" alt="Product Image">
                </li>
            }
        </ul>
    </div>

    <div class="col-md-7">
        <ul class="prod_single_img_slider" style="max-width: 100%;">
            @for (var indexI = 0; indexI < Model.Images.Count; indexI++)
            {
                <li>
                    <img class="img-responsive" style="width: 100%;" src="@ViewBag.UploadLocation@Model.Images[indexI].Key" alt="Product Image">
                </li>
            }
        </ul>
    </div><!-- / .col-md-6 -->
    }

    <!-- Product Description -->
    <div class="col-md-4 product-info">
        <h1 style="margin:8px 0 0 0;">@Model.Title</h1>
        <span class="prod-cat">@Model.SubTitle</span>
        @if (Model.Price > 0)
        {
            <h3 class="prod-price">Rs.@Model.Price.ToString("##.###") @Model.PriceUnitName</h3>
        }
        else
        {
            <h3 class="prod-price">Price on call</h3>
        }
        <p id="custom-prod-desc" class="prod-desc">
            @(Model.SmallDescription)&hellip;
        </p>
        @if (Model.pdf != null)
        {
            <a href="/Property/Brochure/@Model.guid" target="_blank" class="btn btn-large btn-ghost">
                <span class="et-documents"></span>
                Download Brochure
            </a>
        }
    </div><!-- / .col-md-5 -->
</div>

<!-- / .row -->

@if (Model.VideoURL != null)
{
    <!-- ========== Video Background Section ========== -->

    <div class="video-bg-section" style="margin-bottom: 80px;margin-top: 80px;">

        <!-- Video Background -->
        <div id="section-video" class="player"
             data-property="{videoURL:'@Model.VideoURL',containment:'.video-bg-section',autoPlay:true, mute:true, startAt:71, stopAt:300, opacity:1}">
        </div>

        <!-- Video Link -->
        <div class="video-sec-content">
            <h3 class="cta-lead h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                See Inner View
            </h3>
            <a href="@Model.VideoURL" class="play-btn popup-video">
                <span class="play-icon linea-music-play-button"></span>
                <h5>Play video</h5>
            </a>
        </div><!-- / .video-sec-content -->

    </div>
    <!-- / .video-bg-section -->
}


<div class="col-md-12" style="margin: 80px 0;">
    <!-- Prodcut Images -->

    <div class="col-md-7 col-md-offset-1">
        <div id="map-canvas" class="gmap map-boxed"></div>

        <a href="#" class="btn btn-ghost" style="margin-top: 5px;">
            Get Directions
            <span class="linea-arrows-slim-right"></span>
        </a>
    </div>

    <!-- / .col-md-6 -->
    <!-- Product Description -->
    <div class="col-md-4 product-info">

        <div class="row wow fadeInUp col-md-12" data-wow-duration="1s">

            <h1 class="prod-price">Inquiry</h1>
            <form action="@Url.Action("MsgRequest", "Property")" method="POST" id="msgRequest" class="form-ajax">
                <div class="col-md-12 wow fadeInRight" data-wow-duration="1s">
                    <input type="hidden" name="model.id" value="@Model.guid" />
                    <input type="hidden" name="BoxId" value="msgRequest" />
                    <!-- Name -->
                    <div class="form-group">
                        <input type="text" name="model.name" id="name-contact-1" class="form-control validate-locally" placeholder="Enter your name">
                        <label for="name-contact-1">Name</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <input type="email" name="model.email" id="email-contact-1" class="form-control validate-locally" placeholder="Enter your email">
                        <label for="email-contact-1">Email</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="model.phone" id="email-contact-1" class="form-control validate-locally" placeholder="Enter your phone number">
                        <label for="phone-contact-1">Phone Number</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-duration="1s">
                    <!-- Message -->
                    <div class="form-group">
                        <textarea name="model.message" id="message-contact-1" class="form-control" rows="6" placeholder="Your Message"></textarea>
                        <label for="message-contact-1">Message</label>
                    </div>
                    <div>
                        <input type="submit" class="btn pull-right" value="Send Message">
                    </div>
                    <!-- Ajax Message -->
                    <div class="ajax-message col-md-12 no-gap"></div>
                </div><!-- / .col-md-4 -->
            </form>
        </div><!-- / .row -->
    </div><!-- / .col-md-5 -->
    <!-- / .row -->

</div>
<!-- Product Info - (tabs) -->

<div class="col-md-12">
<!-- Nav tabs -->
<ul class="nav nav-tabs ws-m" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab-description" aria-controls="tab-description" role="tab" data-toggle="tab">Description</a>
    </li>
    <li role="presentation">
        <a href="#tab-sizeguide" aria-controls="tab-sizeguide" role="tab" data-toggle="tab">Size Guide</a>
    </li>
    <li role="presentation">
        <a href="#tab-reviews" aria-controls="tab-reviews" role="tab" data-toggle="tab">Reviews</a>
    </li>
    <li role="presentation">
        <a href="#tab-help" aria-controls="tab-help" role="tab" data-toggle="tab">Amenities</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- Item Description -->
<div role="tabpanel" class="tab-pane active" id="tab-description">
    @Html.Raw(Model.Description)
</div>
<!-- Size Guide -->
<div role="tabpanel" class="tab-pane" id="tab-sizeguide">
    <div class="col-md-6 col-md-offset-2">
        <table class="table table-row-highlight">
            <thead>
            <tr>
                <th colspan="2" class="text-center">4 Bed House</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Area</td>
                <td>@Model.Area @Model.AreaUnitName</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.Price.ToString("##.###") @Model.PriceUnitName</td>
            </tr>
            <tr>
                <td>Baths</td>
                <td>@Model.Baths</td>
            </tr>
            <tr>
                <td>Beds</td>
                <td>@Model.Beds</td>
            </tr>
                </tbody>
            </table><!-- / .table -->
        </div>
    </div><!-- / .tab-pane #tab-sizeguide -->


    <!-- / .portfolio-columns-fw -->

    <!-- Reviews -->
    <div role="tabpanel" class="tab-pane prod-reviews" id="tab-reviews">
        @foreach (var r in Model.Reviews)
        {
            
            <div class="tp-review">
                <p class="tpr-name">@r.Name</p>
                <span class="tpr-date">on @r.onCreated.ToString("MMMM dd,yyyy")</span>
                <p class="tpr-content">
                    @r.Description
                </p>
            </div><!-- / .tp-review -->
        }

        <div class="col-md-12 well">
            <h3>Post Review</h3>
            <form action="@Url.Action("Review", "Property")" method="POST" class="form-ajax" id="reivewMsg">
                <div class="col-md-12 wow fadeInRight" data-wow-duration="1s">
                    <input type="hidden" name="model.id" value="@Model.guid"/>
                    <input type="hidden" name="BoxId" value="reivewMsg"/>
                    <!-- Name -->
                    <div class="form-group col-md-4">
                        <input type="text" name="model.name" id="name-contact-1" class="form-control validate-locally" placeholder="Enter your name">
                        <label for="name-contact-1">Name</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                    <!-- Email -->
                    <div class="form-group col-md-4">
                        <input type="email" name="model.email" id="email-contact-1" class="form-control validate-locally" placeholder="Enter your email">
                        <label for="email-contact-1">Email</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="model.phone" id="email-contact-1" class="form-control validate-locally" placeholder="Enter your phone number">
                        <label for="phone-contact-1">Phone Number</label>
                        <span class="pull-right alert-error"></span>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-duration="1s">
                    <!-- Message -->
                    <div class="form-group">
                        <textarea name="model.message" id="message-contact-1" class="form-control" rows="6" placeholder="Your Message"></textarea>
                        <label for="message-contact-1">Message</label>
                    </div>
                    <div>
                        <input type="submit" class="btn pull-right" value="Post Review">
                    </div>
                    <!-- Ajax Message -->
                    <div class="ajax-message col-md-12 no-gap"></div>
                </div><!-- / .col-md-4 -->
            </form>
        </div>
    </div><!-- / .prod-reviews #tab-reviews -->
<div role="tabpanel" class="tab-pane ft-steps-numbers" id="tab-help">
    <!-- Step 1 -->
    <div class="col-md-12 shop-widget cart-widget mb-sm-50">
        @foreach (var amG in Model.Amenties)
        {
            <div class="col-md-12">
                <h5 class="header-widget col-md-3 col-sm-6" style="border-bottom: 1px solid #ccc; margin-bottom: 30px; padding-bottom: 18px;">
                    @amG.Key
                </h5>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                @foreach (var am in amG.Value)
                {
                    <div class="col-md-4">
                        <ul class="list-square-check-full">
                            <li>
                                <h6>@am</h6>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
    </div>

</div><!-- / .ft-steps-numbers #tab-help -->
</div>
</div>

</div><!-- / .container -->
</div>
<!-- ========== Related Items - (products section) ========== -->
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#custom-prod-desc").html($("#custom-prod-desc").text());
        });
        var myLatlng = new google.maps.LatLng(@Model.Logitude, @Model.Latitude);
        var mapOptions = {
            zoom: 15,
            center: myLatlng,
            scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page

            // Styling of the map in JSON object
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [{ "color": "#444444" }]
                }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] },
                { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [{ "saturation": -100 }, { "lightness": 45 }]
                }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] },
                { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] },
                { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [{ "color": "#cdd2d4" }, { "visibility": "on" }]
                }
            ]
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            icon: '/Content/MY/My2.png',
            title: "Regular Map!"
        });

        marker.setMap(map);

    </script>
}