@{
    
    ViewBag.Title = ViewBag.BarType;
    ViewBag.CustomHeaderClass = "navbar-static-top";
    ViewBag.UploadLocation = MYVentures.Helpers.CustomActions.GetUploadLocation();  
}
@model List<DBLayer.PropertyView>

    <style>
        .cd-words-wrapper {
            width: 100% !important;
            text-align: left !important;
        }
        .gm-style-iw img{
            width:300px;
        }
        .blog-post .bp-content {
            padding: 40px 20px 50px 20px !important;
        }
        .priceLabel {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.8px;
            z-index: 101;
        }
        .label-default {
            color: #fff !important;
        }
        .Maplabels {
    /* color: black;
     padding: 4px;
     border: 1px solid black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 10px;     
     white-space: nowrap;*/
    overflow: visible !important;
    width: auto !important;
    height: 0 !important;
    margin-left: 0!important;
   }
   .gmnoprint
   .gmnoprint *{
       display:none;
   }
   ._1dyc0dw {
    -webkit-transform: translate(-50%, -31px) !important;
    -ms-transform: translate(-50%, -31px) !important;
    transform: translate(-50%, -31px) !important;
}

._1joivwj {
    position: relative !important;
    display: inline-block !important;
    margin-top: -8px !important;
}
    ._1q8mwr8 {
        bottom: -4px !important;
        left: 50% !important;
        margin-left: -4px !important;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15) !important;
        width: 8px !important;
        height: 8px !important;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        position: absolute !important;
    }
    ._13nx4oo {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #222222 !important;
    font-weight: 700 !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
    border-radius: 2px !important;
    padding: 4px 5px 4px 6px !important;
    position: relative !important;
}
    ._qtix31 {
    display: table !important;
}
    ._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
    ._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
    ._qtix31 {
    display: table !important;
}
    ._mmb1j9 {
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    bottom: -4px !important;
    left: 50% !important;
    margin-left: -4px !important;
    background-color: #ffffff !important;
    width: 8px !important;
    height: 8px !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    position: absolute !important;
}
    </style>

    <!-- ========== Page Title ========== -->
    <header class="page-title" style="padding-top: 5px; padding-bottom: 20px;">
        <div class="container shop-sidebar">
            <form method="post">
                <div class="row">
                    <h1 class="col-sm-4">@ViewBag.PageType</h1>

                    <div class="col-md-4 shop-widget mb-sm-50">
                        <!-- Price Filter -->
                        <div class="filter-widget mb-50">
                        
                            <h5 class="header-widget">
                                Filter by Price
                                <span class="text-right">
                                    <button type="submit" class="btn btn-light btn-small"><i class="fa fa-2x fa-refresh"></i></button>
                                </span>
                            </h5>
                            <div id="shop-slider-range"></div>
                            <p>
                                <label for="amount" >From:</label>
                                <input type="text" name="priceFilter" style="background: #f4f4f4; width: 80%; font-weight: bold;" smin="@ViewBag.SPriceMin" smax="@ViewBag.SPriceMax" max="@ViewBag.PriceMax" id="shop-slider-range-amount">
                                <input type="hidden" name="smin" value="@ViewBag.SPriceMin" id="SPriceMin" />
                                <input type="hidden" name="smax" value="@ViewBag.SPriceMax" id="SPriceMax" />
                            </p>
                        </div><!-- / .filter-widget -->
                    </div>
                

                    <div class="col-md-3 shop-widget">
                        <!-- Search Widget -->
                        <div class="search-widget mb-sm-50">
                            <div class="form-group">
                                <input type="search" name="search" value="@ViewBag.searchKeyword" placeholder="Search ..." class="form-control">
                                <button class="inside-input-btn"><i class="fa fa-search"></i></button>
                            </div>
                        </div><!-- / .search-widget -->

                    </div>
                </div>
            </form>
        </div>
    </header>


    <!-- ========== Contact ========== -->
    <section class="section" style="padding-top:0; padding-bottom: 0;">
        <div class="row">
        </div>
        <div class="contact-wrapper">
            <!-- Map -->
            <h1 class="text-center" style="position: absolute;    z-index: 1000;   background: black;    color: white;    padding: 1vw;    left: 45vw;">Map View</h1>
            <div id="map-canvas" class="gmap map-boxed"></div>
        </div><!-- / .contact-wrapper -->
    </section><!-- / .contact-1 -->


    <div class="gray-bg">
        <section id="blog" class="section container blog-columns blog-preview" style="padding-top: 80px; min-height: 100vh;">
            <div class="row">

                <header class="sec-heading" style="margin-bottom: 20px;">
                    <h2>@ViewBag.PageType</h2>
                    <span class="subheading">Check out the list Version</span>

                </header>
            </div>
            <div class="row">
                <ul id="pfolio-filters" class="portfolio-filters">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    @foreach (var tag in ViewBag.propertyTypeTags)
                    {
                        <li><a href="#" data-filter='.@("PropertyTypeId" + tag.PropertyTypeId)'>@tag.TypeName</a></li>
                    }
                </ul>
            </div>
            <div class="row">
                <div id="pfolio">
                    @if (Model.Count == 0)
                    {
                        <p>No record.</p>
                    }
                    @foreach (var pro in Model)
                    {
                        <div class="col-lg-4 col-md-6 mb-sm-50 @("PropertyTypeId" + pro.PropertyTypeId)">
                            @{ var price = "Rs." +(Math.Round(pro.Price, 2)) +" "+pro.PriceUnitName;}
                            <div price="@price" longitude="@pro.Logitude" latitude="@pro.Latitude" class="home-post blog-post wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                                <!-- Image -->
                                <a href="#" class="post-img">
                                    @if (pro.Price > 0)
                                    {
                                        <span class="label label-default priceLabel " style="top: 15px;">
                                            @price
                                        </span>
                                    }
                                    <img src="@ViewBag.UploadLocation@pro.Banner" style="width: 100%;" alt="Blog Post 1">
                                </a>
                                <div class="bp-content">
                                    <!-- Post Title -->
                                    <a href="#" class="post-title">
                                        <h4>
                                            @pro.Title
                                        </h4>
                                    </a>
                                    <!-- Blurb -->
                                    <p>
                                        @pro.StreetName, @pro.CityName
                                    </p>
                                    <!-- Link -->
                                    <a href="/MYHomes/Detail/@pro.guid" class="btn btn-small">Learn More</a>
                                </div><!-- / .bp-content -->
                            </div><!-- / .blog-post -->
                        </div><!-- / .col-lg-4 -->
                    }
                </div>

            </div><!-- / .row -->
        </section><!-- / .container -->
    </div><!-- / .gray-bg -->

    @section scripts
    {
        <script>
            var myLatlng = new google.maps.LatLng(31.4640581, 74.3859547);
            var mapOptions = {
                zoom: 13,
                center: myLatlng,
                scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page

                // Styling of the map in JSON object
                styles: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": 45 }] }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#cdd2d4" }, { "visibility": "on" }] }]
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                icon: '/Content/MY/MY_Custom.png',
                title: "MY Ventures"
            });

            marker.setMap(map);

            var list = $(".home-post");
            //list.push();
            //list.push(new google.maps.LatLng(31.463388, 74.394052));
            //list.push(new google.maps.LatLng(31.470047, 74.438861));

            for (var x = 0; x<list.length; x++)
            {
                var htmlLabel = $('<div class="_1dyc0dw"><div class="_1joivwj"><div class="_1q8mwr8"></div><div class="_13nx4oo"><div class="_qtix31"><div class="_ni9axhe price_box__" >$127</div><div class="_ni9axhe"><div style="margin-left:2px;"><span class="_qtix31"></span></div></div></div></div><div class="_mmb1j9"></div></div></div>')

                var lat = parseFloat($(list[x]).attr("latitude"));
                var lng = parseFloat($(list[x]).attr("longitude"));
                var latlng = new google.maps.LatLng(lat, lng)

                debugger;
                var price = $(list[x]).attr("price");
                htmlLabel.find(".price_box__").text(price);

                /*
                var marker2 = new MarkerWithLabel({
                    position: { lat: lat, lng: lng },
                    map: map,
                    draggable: false,
                    raiseOnDrag: true,
                    title: '',
                    icon: '/Content/MY/MY_Custom.png',
                    labelContent: htmlLabel[0],
                    labelAnchor: new google.maps.Point(50, 0),
                    labelClass: "Maplabels", // the CSS class for the label
                });
                marker2.setMap(map);
                */

                var marker2 = new google.maps.Marker({
                    position: latlng,
                    draggable: false,
                    raiseOnDrag: true,
                    icon: '',
                    title: "Map - " + price,
                    labelContent: htmlLabel[0],
                    labelAnchor: new google.maps.Point(50, 0),
                    labelClass: "Maplabels", // the CSS class for the label
                });

                /*
                var contentString = '<div>' + $(list[x]).html() + '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                *//*

                marker2.addListener('mouseover', function () {
                    infowindow.open(map, this);
                });
                marker2.addListener('mouseout', function () {
                    //setTimeout(infowindow.close(), 5000);
                });
                */

                marker2.setMap(map);
            }

        </script>

    }
